/* pages/home/home.wxss */
page {
  height: 100%;
  background-color: rgb(249, 249, 249);
  box-sizing: border-box;
  padding-bottom: calc(env(safe-area-inset-bottom) + 10rpx);
}

.nav-header-text {
  background-color: #000000;
  color: #ffffff;
  border-radius: 40rpx;
  padding: 0 30rpx;
  line-height: 60rpx;
  font-size: 28rpx;
  &:active {
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .swiper-container {
    width: 100%;
    position: relative;
    .swiper {
      height: 658px;
      // 设置指示器到底部的距离
      .wx-swiper-dots.wx-swiper-dots-horizontal {
        margin-bottom: 100px;
      }
      .wx-swiper-dot {
        display: inline-flex;
        width: 20px;
        height: 2px;
        &::before {
          content: "";
          flex-grow: 1;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 2px;
        }
      }
      .wx-swiper-dot-active {
        display: inline-flex;
        width: 30px;
        height: 2px;
        &::before {
          background: rgba(0, 0, 0, 0.8);
        }
      }

    }

    .swiper-item {
      height: 100%;
      .swiper-item__img {
        width: 100%;
        height: 100%;
      }
  
    }

    .swiper-bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, #e3e4d900 40%, #696b68b6 100%);
      .button {
        color: white;
        background-color: black;
        text-align: center;
        line-height: 46px;
        width: 90%;
        border-radius: 23px;
        &:active {
          background-color: #333;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .know-more {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px;
        image {
          width: 28rpx;
          height: 30rpx;
        }
        span {
          color: rgb(250, 250, 250);
          font-size: 14px;
          padding: 0 5px;
        }

      }

    }

  }
  
  .example-swiper {
    width: 100%;
    position: relative;
    background-color: rgb(76, 103, 77);
    padding: 40px 0;
    &>view {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
    }
    .swiper {
      height: 490px;
      // 设置指示器到底部的距离
      .wx-swiper-dots.wx-swiper-dots-horizontal {
        margin-bottom: 0px;
      }
      .wx-swiper-dot {
        display: inline-flex;
        width: 20px;
        height: 2px;
        &::before {
          content: "";
          flex-grow: 1;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 2px;
        }
      }
      .wx-swiper-dot-active {
        display: inline-flex;
        width: 30px;
        height: 2px;
        &::before {
          background: white;
        }
      }

      .swiper-item {
        display: flex;
      }
      .swiper-item-box {
        flex: 1;
        margin: 0 20px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 50px;
        .swiper-item__img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  .check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 280px;
    margin-bottom: 40px;
    border-radius: 22px;
    background-color: black;
    color: white;
    &:active {
      background-color: #333;
    }
  }

}
